
<ul class="list-unstyled m-4">
	<h1>Restaurant results</h1> <hr>
	<li class="fs-4"><%= @restaurant.name %></li>
	<li><%= @restaurant.address %></li>
	<li><%= @restaurant.phone_number %></li>
	<li><%= @restaurant.category %></li> <br>

	<h4>Restaurant Reviews</h4> <hr>

<ul class="list-group m-4">
<% if @restaurant.reviews.count > 0 %>
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item justify-content-between"><%= review.content %> ***********  <%= review.rating %> star rating ********** <%= link_to "Delete Review",  review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete this review?" } %></li>
  <% end %>
<% else %>
		<span><%= "No reviews!" %></span>
<% end %>
</ul>
	<ul class="list-unstyled m-4">
	<li><%= link_to "Back to list", restaurants_path %> |
	<%= link_to "Edit", edit_restaurant_path(@restaurant) %> |
	<%= link_to "Delete restaurant",  restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure you want to delete #{@restaurant.name}?" } %></li> <hr>
	<li class="btn btn-outline-primary"><%= link_to  "Leave a review",  new_restaurant_review_path(@restaurant) %></li>
</ul>
</ul>
