<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>		
		<div class ="container">
				<nav class="nav justify-content-end ">		
					<li class ="btn btn-outline-primary m-1"> <%= link_to "Add a new Restaurant",  new_restaurant_path %> </li>
				</nav>
				<%= yield %>
		</div>
  </body>
</html>
